MICROPUB_GITHUB_TOKEN="abc123"  # An OAuth token that givces access to the GitHub repository in which the Jekyll page can be found
MICROPUB_GITHUB_USER="voxpelli" # The username/organisation of the one owning the GitHub repository in which the Jekyll page can be found

MICROPUB_TOKEN_ENDPOINT="https://tokens.indieauth.com/token" # Where a token should be verified
MICROPUB_TOKEN_ME="http://kodfabrik.se/"                     # Who a token should identify to be valid

MICROPUB_SITE_URL="http://voxpelli.com/"        # The base path at which the Jekyll page is hosted
MICROPUB_SITE_GITHUB_REPO="voxpelli.github.com" # The name of the GitHub repository in which the Jekyll page can be found
# MICROPUB_SITE_SYNDICATE_TO_UID="abc123"         # Unique identifier of the syndication target, see: https://www.w3.org/TR/micropub/#syndication-targets
# MICROPUB_SITE_SYNDICATE_TO_NAME="Readable Name" # User readable name of the syndication target, see: https://www.w3.org/TR/micropub/#syndication-targets
MICROPUB_OPTION_DERIVE_LANGUAGES="eng,swe"      # Comma separated list of language codes to auto-detect
# MICROPUB_HOST="example.com"                   # If set, then the specified domain name will be enforced by redirecting requests to all other domain names / IP-adresses that the endpoint can be access on
# MICROPUB_OPTION_NO_AUTO_CONFIGURE=true        # Whether to auto-configure permalink status from the Jekyll repo config or not

# The options MICROPUB_FILENAME_STYLE, MICROPUB_MEDIA_FILES_STYLE, MICROPUB_PERMALINK_STYLE can all also use the format of MICROPUB_OPTION_DERIVE_CATEGORY to do more advanced formatting
# MICROPUB_FILENAME_STYLE="_posts/:year-:month-:day-:slug"         # Sets the filename style of posts
# MICROPUB_MEDIA_FILES_STYLE="media/:year-:month-:slug/:filesslug" # Sets the filename style of media files
# MICROPUB_PERMALINK_STYLE="/:categories/:year/:month/:title/"     # Sets the Jekyll permalink style

# If you want to define more complex syndication targets as per https://www.w3.org/TR/micropub/#syndication-targets, then define it as JSON like (not compatible with MICROPUB_SITES_JSON):
# MICROPUB_SITE_SYNDICATE_TO='[{"uid":"https://myfavoritesocialnetwork.example/aaronpk","name":"aaronpk on myfavoritesocialnetwork","service":{"name":"My Favorite Social Network","url":"https://myfavoritesocialnetwork.example/","photo":"https://myfavoritesocialnetwork.example/img/icon.png"},"user":{"name":"aaronpk","url":"https://myfavoritesocialnetwork.example/aaronpk","photo":"https://myfavoritesocialnetwork.example/aaronpk/photo.jpg"}}]'

# If you want to define more complex settings and/or multiple sites, including any syndication targets of them, then use JSON such as:
# MICROPUB_SITES_JSON='{"test":{"url":"http://micropub-test-blog.voxpelli.com/","github":{"repo":"webpage-micropub-test"},"token":[{"endpoint":"https://tokens.indieauth.com/token","me":"http://micropub-test-blog.voxpelli.com/"}]},"voxpelli.com":{"url":"http://voxpelli.com/","github":{"repo":"voxpelli.github.com"},"token":[{"endpoint":"https://tokens.indieauth.com/token","me":"http://micropub-discovery.voxpelli.com/"}]}}'

# To override the default category, set to a JSON array with a value and condition key with the value being the category to use and the condition being a string condition that can be sent into the "fulfills" module: https://www.npmjs.com/package/fulfills
# MICROPUB_OPTION_DERIVE_CATEGORY='[{"value":"category-name","condition":"bookmark OR name"}]'
